{% extends 'base.html' %}
{% load highlight %}
{% block blog_ac %}active{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block list %}
                        <h4 style="display: inline-block">搜索结果{{ page.paginator.count }}</h4>{% endblock %}
                    </div>
                    <div class="panel-body">
                        {% for result in page.object_list %}
                            <div class="blog"><h3><a
                                    href="{{ result.object.get_absolute_url }}">{% highlight result.object.title with query %}
                            </a>
                            </h3>
                                <span class="glyphicon glyphicon-tags"></span>{{ result.object.blog_type }}
                                <span class="glyphicon glyphicon-user"></span>{{ result.object.author }}
                                <span class="glyphicon glyphicon-time"></span>{{ result.object.created_time|date:'Y-m-d' }}
                                <span class="glyphicon glyphicon-eye-open"></span>{{ result.object.read_num }}
                                <p>{% highlight result.object.content with query %}</p></div>
                        {% empty %}
                            <div class="blog"><h3>暂无博客，敬请期待</h3></div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <nav aria-label="Page navigatio">
                        <div class="paginator">
                            <ul class="pagination">
                                <li>
                                    {% if page.has_previous %}
                                        <a href="?page={{ page.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    {% else %}
                                        <span aria-hidden="true">&laquo;</span>
                                    {% endif %}
                                </li>
                                {% for i in page.paginator.page_range %}
                                    {% if page.number == i %}
                                        <li class="active"><span>{{ i }}</span></li>
                                    {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li>
                                    {% if page.has_next %}
                                        <a href="?page={{ page.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    {% else %}
                                        <span aria-hidden="true">&raquo;</span>
                                    {% endif %}
                                </li>
                            </ul>
                            <p>
                                共有{{ page.paginator.count }}篇博客，
                                当前第{{ page.number }}页，
                                共{{ page.paginator.num_pages }}页
                            </p>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}